/* Theme */
$primary: #07d6d4;
$secondary: #fafafa;

$text-primary: #000000;
$text-secondary: #fafafa;

$background-primary: #000000;
$background-secondary: #fafafa;

/* Font breaks */
$min-breakpoint-font-size: 420px;
$max-breakpoint-font-size: 900px;
