/* Theme */
$primary: #00c2c0;
$secondary: #fafafa;

$text-primary: #ffffff;
$text-secondary: #000000;

$background-primary: #000000;
$background-secondary: #ffffff;

/* Font breaks */
$min-breakpoint-font-size: 420px;
$max-breakpoint-font-size: 900px;
