@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import "./mixins";
@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100%;
  background-color: $background-primary;
  color: $text-primary;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
