@import "../../../variables";
@import "../../../mixins";

div.zubi-events {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  @include for-large-screens {
    flex-direction: row;
  }
  @include for-small-screens {
    flex-direction: row;
  }
  @include for-tablet-only {
    justify-content: center;
    flex-direction: column-reverse;
  }
  @include for-mobile-only {
    justify-content: center;
    flex-direction: column-reverse;
  }
  div.content {
    width: 50%;
    padding: 2rem;
    z-index: 1;
    h1 {
      @include fluid-type(
        1.5rem,
        2.5rem,
        $min-breakpoint-font-size,
        $max-breakpoint-font-size
      );
      span {
        color: var(--text-secondary);
      }
    }
    p {
      margin: 2rem 2rem 4rem 0;
      font-weight: 500;
      @include fluid-type(
        1rem,
        1.25rem,
        $min-breakpoint-font-size,
        $max-breakpoint-font-size
      );
    }
    a.download {
      padding: 1rem 2rem;
      color: var(--text-primary);
      background-color: var(--background-primary);
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 2rem;
      margin: auto 0;
    }
    @include for-large-screens {
      padding: 2rem;
    }
    @include for-small-screens {
      width: 50%;
      padding: 1rem;
      p {
        margin: 2rem 1rem 2rem 0;
      }
    }
    @include for-tablet-only {
      width: 100%;
      padding: 0;
      margin: 4rem 0;
      p {
        margin: 2rem 1rem 2rem 0;
      }
      a {
        padding: 0.75rem 1.75rem;
      }
    }
    @include for-mobile-only {
      width: 100%;
      padding: 0;
      margin: 4rem 0;
      p {
        margin: 2rem 0;
      }
      a {
        padding: 0.5rem 1.5rem;
      }
    }
  }
  div.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    img {
      width: 45%;
      animation: flipY 1s linear infinite alternate-reverse;
      @keyframes flipY {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(2rem);
        }
      }
    }
    @include for-small-screens {
      width: 100%;
      padding: 0;
      margin: 4rem auto;
    }
    @include for-mobile-only {
      width: 100%;
      padding: 0;
      margin: 4rem auto;
    }
  }

  div.zubi-static-bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    div.circle1 {
      position: absolute;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      right: 0;
      top: 40%;
      background-color: var(--secondary);
      animation: circlePOP1 1s linear infinite alternate-reverse;
      @keyframes circlePOP1 {
        0% {
          width: 8rem;
          height: 8rem;
        }
        100% {
          width: 6rem;
          height: 6rem;
        }
      }
    }
    div.circle2 {
      position: absolute;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      bottom: 10%;
      left: 0;
      background-color: var(--secondary);
      animation: circlePOP2 1s linear infinite alternate-reverse;
      @keyframes circlePOP2 {
        0% {
          width: 4rem;
          height: 4rem;
        }
        100% {
          width: 6rem;
          height: 6rem;
        }
      }
    }
    @include for-small-screens {
      div.circle1 {
        width: 6rem;
        height: 6rem;
        top: 20%;
      }
      div.circle2 {
        width: 2rem;
        height: 2rem;
        bottom: 5%;
      }
    }
    @include for-tablet-only {
      div.circle1 {
        width: 6rem;
        height: 6rem;
        right: -5%;
        top: 20%;
      }
      div.circle2 {
        width: 2rem;
        height: 2rem;
        left: -10%;
        bottom: -10%;
      }
    }
    @include for-mobile-only {
      div.circle1 {
        width: 6rem;
        height: 6rem;
        right: -5%;
        top: 20%;
      }
      div.circle2 {
        width: 2rem;
        height: 2rem;
        left: -10%;
        bottom: -10%;
      }
    }
  }
}
