@import "../../../mixins";
@import "../../../variables";

div.zubi-navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 3rem;
  flex-wrap: nowrap;
  width: 100%;
  @include for-mobile-only {
    padding: 0.75rem 1rem;
  }
  div.logo {
    flex-direction: row;
    img {
      width: 1rem;
      height: 1rem;
    }
    h4 {
      display: inline-block;
      @include fluid-type(
        0.75rem,
        1rem,
        $min-breakpoint-font-size,
        $max-breakpoint-font-size
      );
    }
  }
  div.links {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    @include fluid-type(
      0.75rem,
      1rem,
      $min-breakpoint-font-size,
      $max-breakpoint-font-size
    );

    div.toggle-theme {
      display: flex;
      flex-direction: row;
      border: 2px solid var(--text-primary);
      border-radius: 1rem;
      padding: 0.15rem 0.25rem;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }

      &.invert {
        flex-direction: row-reverse;
      }
      div.text {
        @include fluid-type(
          0.75rem,
          0.75rem,
          $min-breakpoint-font-size,
          $max-breakpoint-font-size
        );
        margin: auto 0.25rem;
      }
      div.ball {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--text-primary);
      }
    }

    a {
      margin: 0 2rem;
      text-decoration: none;
      color: var(--text-primary);
      @include for-mobile-only {
        margin: 0 0.75rem;
      }
    }
    a.get-app {
      margin: 0;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      background-color: transparent;
      outline: none;
      border: 0.2rem solid var(--primary);
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      font-weight: 600;

      @include for-mobile-only {
        padding: 0.5rem 0.75rem;
      }
    }
  }
}
